@import url(https://fonts.googleapis.com/css?family=Noto+Sans+JP);
body {
    /* font指定 */
    font-family: "Noto Sans JP";
    /* エリア調整 */
    margin: 0px auto;
    padding: 0px;
    width: 80vmin;
    text-align: left;
}

/* hタグセンタリング */

h1, h2, h3, h4, h5 {
    text-align: center;
}

/*  改行禁止
    class="nobr" */

.nobr {
    word-break: keep-all;
}